:root {
  --text: #bac2de;
  --text-hover: #89dceb;
  --text-h: #cdd6f4;
  --bg: #1e1e2e;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
  --btn: #94e2d5;
  --btn-hover: #a6e3a1;
  --sans: 'JetBrainsMono Nerd Font', 'Segoe UI', Roboto, sans-serif;
  --heading: 'JetBrainsMono Nerd Font', 'Segoe UI', Roboto, sans-serif;
  --mono: 'JetBrainsMono Nerd Font', Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  /* background: var(--bg); */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #1e1e2e;
  background-image: /*grid lines across the page*/
    linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  
  background-size: 30px 30px;
  background-attachment: fixed;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

a{
  text-decoration: none;
  color: var(--text);
}

a:hover{
  color: var(--text-hover);
}

.navbar{
  width: 95%;
  margin: 2.5% 2.5% 2.5% 2.5%;
  background-color: #1e1e2e;
  border: 2px solid #a6adc8;
  border-radius: 5px;
  display: flex;
  gap: 47rem;
  box-sizing: border-box;
}

.navbar:hover{
  transform: translateY(-2px);
  box-shadow: 0px 0px 5px 0.5px #cca9f7;
}

.nav-logo{
  padding-left: 2%;
}

.nav-links{
  display: flex;
  gap: 2rem;
  list-style: none;
  padding-top: 2%;
}

#compat{
  margin-left: 2.5%;
}

.grid-container {
  display: grid;
  /* Creates exactly two columns of equal width */
  grid-template-columns: repeat(4, 1fr); 
  /* Adds space between the columns and rows */
  gap: 2%; 
  /* Keeps the grid centered on your screen */
  /* max-width: 800px; */
  margin: 0 auto;
  padding: 20px;
}

.parts{
  margin-top: 3%;
  margin-left: 6%;
  margin-right: 10%;
  padding: 2% 5% 5% 5%;
  width: 350px;
  background-color: #1e1e2e;
  border: 2px solid #a6adc8;
  border-radius: 5px;
}

.partItems{
  border-radius: 10px;
  margin: 2%;
  padding: 5% 1% 5% 1%;
  box-sizing: border-box;
}

.parts:hover{
  transform: translateY(-2px);
  box-shadow: 0 0 5px 1px #cca9f7;
}

.partItems:hover{
  background-color: #cca9f7;
  color: #08060d;
  cursor: pointer;
}

.partItems.selected {
  background-color: #4ea8de; /* Turns the background neon blue */
  color: #000000;            /* Swaps text to black for easy reading */
  font-weight: bold;
}

button{
  width: 150px;
  height: 50px;
  padding: 5% 2.5% 5% 2.5%;
  border: none;
  outline: 1px solid var(--text);
  border-radius: 5px;
  background-color: var(--bg);
  color: var(--text-h);

  font-family: var(--heading);
  font-weight: 500;
  box-sizing: border-box;
}

button:hover{
  transform: translateY(-2px);
  box-shadow: 0px 0px 10px 1px var(--btn-hover);
  background-color: var(--btn-hover);
  color: var(--bg);
  cursor: pointer;
}

.forms{
  display: flex;
  gap: 2%;
}

.forms form{
  margin-top: 5%;
  margin-left: 6%;
}
